html {
  background-color: #f7f7f7;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

body > header {
  background-color: #fff;
}

body > section {
  background-color: #fff;
}

body > footer {
  background-color: #f7f7f7;
  border-top: 3px solid #c4c9cc;
}

header p {
  font-size: 30px;
  line-height: 15px;
  font-weight: 600;
}

.quick-view {
  background-color: #f7f7f7;
  border-top: 3px solid #c4c9cc;
  border-bottom: 3px solid #c4c9cc;
}

.game-list .game-header {
  font-weight: bold;
}

footer p {
  font-size: 15px;
}