html {
  background-color: #f0f0f0;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

body > header {
  background-color: #199adc;
}

body > section {
  background-color: #fff;
}

body > footer {
  background-color: #f0f0f0;
}

header {
  border-top: 3px solid #535b69;
}

header p {
  font-size: 30px;
  line-height: 15px;
  font-weight: 600;
  color: #fff;
}

.game-list {
  padding: 20px 0 20px 0;
}

.game-list .game-header {
  font-weight: bold;
}

footer {
  border-top: 3px solid #535b69;
}

footer p {
  font-size: 15px;
}